
  @font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'), url('./Fonts/PlayfairDisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('./Fonts/Poppins.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  /* for the details chuchu na font */
  @font-face {  
    font-family: 'Arimo';
    src: local('Arimo'), url('./Fonts/Arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'), url('./Fonts/WorkSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Courier';
    src: local('Courier'), url('./Fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }